@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/* nav */

nav{
  box-shadow:0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
nav ul {

  background-color: #2727295b;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: -4px;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;  
    font-size: 1.4em;
  }
}
 

/* scrollbar */
::-webkit-scrollbar-track
{
	border: 5px solid white;
	background-color: #b2bec3;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: #74b9ff;
	border-radius: 10px;
}

/* body */
body{
  margin: 0px;
  background-color: #0e0e0e;
  font-family: 'IBM Plex Sans', sans-serif;
}

img{
  pointer-events: none;
  cursor: default;
  user-select: none;
  
}


/* main */

.container{
  padding-top: 20px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* content */
.content{
  padding: 12px;
  text-align: left;
  width: 480px;
  height: 480px;
  background-color: #272729;
}

p{
  color: white;
}

/* country */
.country{
  padding: 12px;
  width: 480px;
  height: 480px;
  background-color: #1a1a1b;
}

/* responsive */
@media (max-width:768px){
  .container {
    flex-direction: column;
  }

  .flag{
    margin: auto;
  }
}

/* flags */
.flag{
  height: 164px;
  border-radius: 3px;
  margin-left: 5px;
  box-shadow: 3px 3px 6px black; 
}

.pays{
  font-size: 32px;
}

.capitale{
  /* color:#96e0e0; */
  color:#8acaff;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

.domaine{
  /* color:#96e0e0; */
  color:#bbbbbb;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

th{
  vertical-align: bottom;
  width: 100px;
  color: #d7dadc;
}
td{
  color: white;
}
th, td {
  padding: 5px;
  text-align: left;
}

.searchbar{
  width: 100px;
}

span{
  color: rgb(255, 238, 0);
}